.input-text {
    margin-top: 24px;
}

.input-textarea {
    width: 90%;
    height:110px;
    max-width: 500px; 
    margin: 10px auto;
    padding: 8px 12px 2px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    border-radius: 6px;
    color: #000;
}